.product-container{
    position:absolute;
    left: 16%;
    top: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-product-card{
    width:100%;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: var(--white);
    border-color: 1px var(--primary-color);
}
.card-btn-product{
    width: 50%;
}
